<header class="sticky top-0 h-[68px] bg-gray-900 px-10 z-10 flex justify-between items-center w-full">
  <!-- Left Side -->
  <div class="flex items-center">
    <!-- Logo -->
    <img src="/images/netflix-logo.png" alt="netflix-logo" class="w-[110px]">
    
    <!-- Navigation Menu -->
    <nav class="ml-8 hidden md:block">
      <ul class="flex space-x-6">
        <li *ngFor="let item of navList" class="text-neutral-200 text-sm hover:text-gray-400 transition-colors duration-300 cursor-pointer" [routerLink]="item.link">
          
          {{ item.title }}
        </li>
      </ul>
    </nav>
  </div>
  
  <!-- Right Side -->
  <div class="flex items-center">
    <span class="text-neutral-200 text-sm mr-4">Welcome {{ username }}</span>
    <img [src]="userImg" alt="Profile" class="w-[42px] h-[42px] rounded-full object-cover mr-3">
    <!-- <button 
      (click)="signOut()" 
      class="text-neutral-200 hover:text-gray-400 transition-colors duration-300">
      <i class="fas fa-sign-out-alt"></i>
    </button> -->
  </div>
</header>