<footer class="h-[68px] bg-gray-900 px-10 flex flex-col md:flex-row justify-between items-center">
  <!-- Left side - Copyright -->
  <div class="text-sm text-neutral-200 py-2 md:py-0">
    © 2023 Netflix Clone. All rights reserved.
  </div>
  
  <!-- Right side - Links -->
  <div class="flex space-x-6 text-sm text-neutral-200 py-2 md:py-0">
    <a href="#" class="hover:text-gray-400 transition-colors duration-300">Terms of Use</a>
    <a href="#" class="hover:text-gray-400 transition-colors duration-300">Privacy Policy</a>
    <a href="#" class="hover:text-gray-400 transition-colors duration-300">Contact Us</a>
  </div>
</footer>