
@use "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';



// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Netflix-specific animations
@layer utilities {
  .hover-scale {
    @apply transition-transform duration-300 hover:scale-105;
  }
  
  .netflix-focus {
    @apply focus:outline-none focus:ring-2 focus:ring-red-600;
  }
}